<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button (click)="opened=!opened">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 >Ivy Comptech</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">
    <mat-list>
      <mat-list-item><a routerLink="/home" style="text-decoration:none;">Home</a></mat-list-item>
      <mat-list-item><a routerLink="/details" style="text-decoration:none;">Emoloyee Details</a></mat-list-item>
      <mat-list-item><a routerLink="/contact" style="text-decoration:none;">Contact Us</a></mat-list-item>
    </mat-list>
    
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
